Source: gpd-win
Maintainer: lmd Linux <lmd.linux@gmail.com>
Section: misc
Priority: important
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: gpd-win
Architecture: all
Depends: firmware-intel-sound, lmd-minimal
Description: Packages and configurations for the GPD Pocket
 Packages and configuration for a minimal lmd Linux installation
